.progress-bar {
  width: 280px;
  background-color: rgb(232, 232, 232);
  height: 42px;
  border-radius: 42px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.8), 6px 2px 12px -2px rgba(0, 0, 0, 0.6);
  .progress-fill {
    display: block;
    height: 100%;
    max-width: 100%;
    width: 0;
    transition: 2s width ease-in-out;
  }
}
